# Databases and binary storage
local.db
local.db-journal
/src/db/migrations/

# Secrets and environment variables
.env
.env.production

# Dependencies
node_modules/
.bun/

# OS files
.DS_Store
Thumbs.db
